.search_container {
    margin-top: 30px;
  position: relative;
  width: 100%;
}

.search_input {
  width: 100%;
  padding: 10px 30px; /* Adjust padding as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
}

.search_input:focus {
  outline: none;
  border-color: dodgerblue; /* Change border color on focus */
}

.search_container:before {
  position: absolute;
  left: 10px; /* Adjust the position of the icon */
  top: 50%;
  transform: translateY(-50%);
}
